@media(max-width: 1950px) {
    .header__inner {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .form__block {
        margin-top: 0;
    }
}
@media(max-width: 1440px) {
    .footer.main > .container {
        column-gap: 50px;
    }

}

@media(max-width: 1024px) {
    .page {
        overflow: auto;
    }

   

    .footer.main {
        margin-top: 75px;
    }

    .footer.main > .container {
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
    }

    body.lock {
        overflow: hidden;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 5;
    }

    .header__burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all .5s ease 0s;
    }

    .header__burger::before,
    .header__burger::after {
        content: "";
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .5s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger:hover {
        cursor: pointer;
    }

    .header__nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        overflow: auto;
        height: 100%;
        transition: all .5s ease 0s;
        background-color: #fff;
        padding: 100px 10px 20px 10px ;
        z-index: 4;
    }

    .header__nav__link {
        color: #000;
        display: block;
        margin: 15px;
        font-size: 20px;
    }

    .sidebar__profile__nav__link > svg {
        width: 30px;
        height: 30px;
        fill: #969696;
    }

    .sidebar__profile.active .sidebar__profile__nav__link__text {
        display: block;
    }

    .sidebar__profile.active .sidebar__profile__nav__link__text {
        display: block;
    }


    .header__nav__link:first-child {
        margin: 15px;
    }

    .header__nav__link.btn {
        display: inline;
        color: #fff;
    }

    .header__nav.active {
        left: 20%;
    }

    .header__img.active {
        position: relative;
        z-index: 9;
        padding: 15px;
    }

    .sidebar__profile {
        width: 70px;
    }

    .nav__profile__role {
        display: none;
    }

    .separator.burger {
        display: block;
        margin-bottom: 0 !important;    
    }

    .sidebar__profile__nav__link__text {
        display: none;
    }

    .sidebar__profile__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 5;
        padding-left: 15px;
    }

    .sidebar__profile__burger:hover::after {
        background-color: #f48e26;
    }
    .sidebar__profile__burger:hover::before {
        background-color: #f48e26;
    }
    .sidebar__profile__burger:hover>span {
        background-color: #f48e26;
    }

    .sidebar__profile__burger span {
        position: absolute;
        background-color: #000;
        left: 15px;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all .5s ease 0s;
    }

    .sidebar__profile__burger::before,
    .sidebar__profile__burger::after {
        content: "";
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 15px;
        transition: all .5s ease 0s;
    }

    .sidebar__profile__burger::before {
        top: 0;
    }

    .sidebar__profile__burger::after {
        bottom: 0;
    }

    .sidebar__profile.active {
        width: 280px;
    }

    .sidebar__profile.active .sidebar__profile__nav__title {
        display: block;
    }

    .sidebar__profile__burger.active span {
        transform: scale(0);
    }

    .sidebar__profile__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .sidebar__profile__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    
    .profile__content {
        padding-left: 70px;
    }

    .sidebar__profile__nav__title {
        display: none;
    }

    .sidebar__profile__burger {
        margin-bottom: 15px;
    }

    .sidebar__profile {
        overflow: auto;
        height: 100%;
    }

    .sidebar__profile__burger.mobile {
        display: none;
    }
    

}

@media(max-width: 850px) {
    .profile__info__fio-company {
        display: none;
    }
}

@media(max-width: 768px) {
    .footer.main > .container {
        row-gap: 20px;
    }

    .form__block {
        margin-top: 40px;
    }

    .index__profile__orders {
        display: none;
    }

    .index__profile__items {
        display: block;
        margin: 0 auto;
    }

    .index__profile__item {
    }

    .index__profile__name {
        display: none;
    }

}

@media(max-width: 530px) {
    .form__block {
        width: 98%;
    }

    .form__link {
        font-size: 16px;
    }

    .footer__inner {
        flex-wrap: wrap;
        row-gap: 5px;
    }

    .nav__profile__title {
        display: none;
    }

    .index__profile__dostup {
        width: 100%;
    }

    .index__profile__item {
        margin: 0 auto;
    }

    .index__profile__fio {
        font-size: 20px;
        text-align: center;
    }

    .index__profile__email, 
    .index__profile__phone {
        font-size: 16px;
        text-align: center;
    }

    .index__profile__items {
        margin-bottom: 70px;
    }

    .index__profile {
        padding: 20px;
        margin-bottom: 70px;
    }
}

@media(max-width: 425px) {
    .header__img {
        width: 70px;
        height: 70px;
    }

    .header__title {
        font-size: 16px;
        width: 150px;
    }

    .intro__title {
        font-size: 30px;
    }
    .intro__subtitle {
        font-size: 20px;
    }

    .sidebar__profile {
        border-top: 0.5px solid rgba(0, 0, 0, 0.2);
        border-right: 0;
        bottom: 0;
        width: 100%;
        height: 70px;
        overflow: hidden;
    }

    .sidebar__profile.active {
        height: 120px;
    }
    
    .profile__content {
        padding-left: 0;
    }

    .sidebar__profile__burger {
        display: none;
    }

    .sidebar__profile.active {
        width: 100%;
    }

    .sidebar__profile.active .sidebar__profile__nav__title {
        display: none;
    }
    
    .sidebar__profile.active .sidebar__profile__nav__link__text {
        display: none;
    }
    
    
    .sidebar__profile__nav__link.burger {
        display: block;
        padding-top: 5px;
    }

    .sidebar__profile__nav__link.burger >svg {
        width: 35px;
        height: 35px;
    }

    .sidebar__profile__nav__link {
        width: 60px;
    }


    .separator {
        display: none;
    }

    .separator.burger {
        display: none;
    }

    .sidebar__profile__nav {
        display: flex;
        padding-top: 0;
    }

    .sidebar__profile__nav__link {
        padding-left: 0;    
    }

    .admin {
        display: none;
    }

    .nav__mobile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .sidebar__profile__nav.nav__mobile {
        padding-left: 15px;
    }

    .form {
        margin-top: 30px;
    }

    .form__title.company {
        font-size: 20px;
    }

}