@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/background.png');
    background-repeat: 0;
    background-size: cover;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* !=====================================================================
!========== HEADER =========== */

.header {
    padding: 20px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}


/* TODO: HEADER BURGER */

.header__burger {
    display: none;
    transition: all 0.5s;
}
/* TODO: ================== */

.header__link__logo {
    text-decoration: none;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.header__title {
    font-size: 24px;
    font-weight: 700;
    color: #acacac;
    width: 208px;
}

.header__img {
    width: 100px;
    height: 100px;
    transition: all .5s;
}

.header__nav__link {
    text-decoration: none;
    color: #000;
    margin-left: 40px;
    position: relative;
}

.header__nav__link:first-child {
    margin-left: 0;
}

.header__nav__link:after {
    content: "";
    background-color: #f7aa5d;
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s linear
}

.header__nav__link:hover:after {
    opacity: 1;
}

.btn-orange {
    background-color: #F88C21;
    color: #fff;
    text-decoration: none;
}

.btn-orange:hover {
    background-color: #f7aa5d;
    color: #fff;
}



/* !=====================================================================
!========== INTRO =========== */

.intro {
    margin-top: 150px;
}

.intro__title {
    width: 340px;
    font-size: 40px;
    font-weight: 400;
}

.intro__subtitle {
    color: #656565;
    font-size: 30px;
    padding-top: 20px;
}

.intro__btn {
    margin-left: 0;
    position: relative;
    z-index: -1;
    margin-top: 20px;
}

.intro__btn:hover {
    cursor: pointer;
}

/* !=====================================================================
!========== FOOTER MAIN =========== */

.footer.main {
    width: 100%;
    background-color: #F88C21;
    padding: 20px;
    margin-top: auto;
}

.footer.main > .container {
    transition: all .5s linear;
    display: flex;
    column-gap: 300px;
}

.footer__info.main {
    display: flex;
    flex-direction: column;
}

.footer__title.main {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    width: 350px;
}

.footer__mail.main,
.footer__tel.main {
    color: #fff;
    font-size: 20px;
    padding-top: 8px;
}

.footer__tel.main {
    padding-top: 4px;
}

.footer__copyright.main {
    color: #fff;
    padding-top: 35px;
}

.footer__nav.main {
    display: flex;
    flex-direction: column;
}

.footer__nav__title.main {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.footer__nav__link.main {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-top: 18px;
}

.footer__nav__link.main:hover {
    text-decoration: underline;
}

/* !AUTH PAGE */

.form__block {
    width: 510px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 12px;
    padding: 15px 38px;
    margin-bottom: 40px;
}

.form__img {
    margin: 0 auto;
    display: block;
}

.form__title {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    text-align: center;
    padding-top: 15px;
}

.form {
    margin-top: 50px;
}

.form__label {
    font-size: 400px;
    font-size: 16px;
    color: #000;
}

.form__input {
    display: block;
    width: 100%;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 25px 17px;
    outline: none;
}


.form__input:focus {
    outline: none;
}

.form__input::placeholder {
    font-family: 'Montserrat', sans-serif;
}

.form__label {
    padding-top: 24px;
    padding-bottom: 5px;
}

.form__label:first-child {
    padding-top: 0;
}

.form__input-comment {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.50);
    padding-top: 5px;
}

.auth__btn {
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    padding: 15px 25px;
}

.form__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
}

.form__link {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

.form__links.regPage {
    justify-content: center;
}

/* ! FOOTER ALL */

.footer {
    margin-top: auto;
    width: 100%;
    background-color: #F88C21;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
}

.footer__inner {
    display: flex;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.footer__info__link {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin-left: 28px;
}

.footer__info__link:first-child {
    margin-left: 0;
}

.footer__info__link:hover {
    text-decoration: underline;
}

/* !Partners Page */

.intro__items {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    column-gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.intro__item {
    width: 287px;
    position: relative;
}

.intro__item::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #F88C21;
}

.intro__item__background {
    margin: 0 auto;
    display: block;
    padding: 10px;
}

.intro__item__block {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    transform: translate(0px, 75px);
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}

.intro__item:hover .intro__item__block {
    transform: translate(0px, 0px);
    visibility: visible;
    opacity: 1;
}

.intro__item__title {
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.intro__item__date {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

.intro__item__text {
    font-size: 16px;
    font-weight: 400;
}

/* !Profile Account */
/* Todo: NAVIGATION */
.sidebar__info__items {
    width: 230px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.sidebar__info__item_one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar__info__item {
    display: flex;
    column-gap: 20px;
    margin-top: 50px;
}

.sidebar__info__item.two {
    margin-top: 25px;
}

.sidebar__info__title {
    font-size: 24px;
    font-weight: 700;
    color: #acacac;
}

.sidebar__info__logo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar__info__logout {
    border: 0;
    background-color: transparent;
    padding: 0;
    font-family: inherit;
    line-height: inherit;
    margin-left: 11px;
}

.info__links__title {
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.85);
}

.info__link {
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
    position: relative;
    margin-top: 5px;
    font-size: 18px;
}


.info__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #F88C21;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s linear;
}

.info__link:hover::after {
    opacity: 1;
}

.sidebar__info__icon.profile {
    margin-top: 5px;
}

/* Todo: ==== */

.main__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 60px 0;
}

.main__info__title {
    font-size: 36px;
    font-weight: 400;
}

.main__items {
    display: flex;
    column-gap: 100px;
}

.main__item {
    display: flex;
    column-gap: 40px;
}

.main__item__logo__img {
    width: 200px;
    height: 200px;
    border-radius: 25%;
    object-fit: cover;
}

.main__item__title {
    font-size: 30px;
    font-weight: 400;
}

.main__item__email,
.main__item__tel {
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
}

.authority {
    width: 388px;
    padding: 15px;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 12px;
}

.authority__title {
    font-weight: 400;
    font-size: 20px;
}

.authority__text {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.authority__link {
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.authority__link:hover {
    text-decoration: underline;
}